<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.sgtesting.basicscenario.BasicAssigTNG2"></class>
      <class name="com.sgtesting.basicscenario.BasicAssigTNG1"></class>
      <class name="com.sgtesting.basicscenario.BasicAssigTNG7"></class>
      <class name="com.sgtesting.basicscenario.BasicAssigTNG4"></class>
      <class name="com.sgtesting.advancescenario.AdvAssigTNG2"></class>
      <class name="com.sgtesting.basicscenario.BasicAssigTNG3"></class>
      <class name="com.sgtesting.basicscenario.BasicAssigTNG6"></class>
      <class name="com.sgtesting.advancescenario.AdvAssigTNG1"></class>
      <class name="com.sgtesting.basicscenario.BasicAssigTNG5"></class>
    </classes>
  </test> 
</suite> 
